#header {
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 1px;
}

h1 {
  display: flex;
  flex: column wrap;
  color: MediumAquamarine;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

body {

  }
