/* Universal Styles */
body {
  border: 1px solid yellow;
  background-color: WhiteSmoke;
  display: flex;
}

/* Header */
.header {
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 2px solid black;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  flex-flow: row wrap;
  height: 75px;
  z-index: 3;
}

b {
  display: inline-flex;
  color: MediumAquamarine;
  font-size: 14px;
  border: 1px solid green;
  align-items: center;
  }

.logo {
  display: inline-flex;
  left: 0;
  border: 1px solid green;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  align-content: space-between;
  background-color: orange;
  width: 50%;

}

li {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 10px 10px;
  border: 1px solid orange;
  justify-content: space-between;
  background-color: blue;
}

/* main container */
.maincontainer {
  border: 1px solid blue;
  position: relative;
  top: 100px;
  display: inline-flex;
  flex-flow: row wrap;
}

div .column {
  border: 1px solid green;
  width: 2000px;
  }

.large {
  border: 1px solid yellow;
  width: 630px;
  display: inline-flex;
  background-color: green;
}

.medium {
  border: 1px solid red;
  width: 300px;
  display: inline-flex;
  background-color: red;
}

.small {
  border: 1px solid orange;
  width: 240px;
  display: inline-flex;
  background-color: blue;
}

/* minor container */

.minorcon {
  display: flex;
  position: relative;
  background-color: yellow;
}

/* footer */

footer {
  display: flex;
  bottom: 0;
}
