#header {
  display: flex;
  background-color: white;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
}

#header,
h1 {
  color: MediumAquamarine;

}

nav {
display: inline-block;
}

body {

  }
